html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #fdfdfd;
}

body {
    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 1em;
    }
}
@media print {
    body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3, h4 {
        page-break-after: avoid;
    }
}

p {
    margin: 1em 0;
}

a {
    color: #1a1a1a;
}
a:visited {
    color: #1a1a1a;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
}
h5, h6 {
    font-size: 1em;
    font-style: italic;
}
h6 {
    font-weight: normal;
}
ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
}
li > ol, li > ul {
    margin-top: 0;
}
blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}
code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
}
pre {
    margin: 1em 0;
    overflow: auto;
}
pre code {
    padding: 0;
    overflow: visible;
}
.sourceCode {
    background-color: transparent;
    overflow: visible;
}
hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
}
table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}
table caption {
    margin-bottom: 0.75em;
}
tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}
th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
    margin-bottom: 4em;
    text-align: center;
}
#TOC li {
    list-style: none;
}
#TOC a:not(:hover) {
    text-decoration: none;
}
code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
span.underline{text-decoration: underline;}
div.column{display: inline-block; vertical-align: top; width: 50%;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}

/* modified */

h1, h2, h3, h4, h5, h6 {
    padding: .3rem 1rem .3rem 1rem;
}
h1 {
    background-color: #E0E0E0;
}
h2 {
    background-color: #E5E5E5;
}
h3 {
    background-color: #EBEBEB;
}
h4 {
    background-color: #F0F0F0;
}
/* use for links withing the document */
h5 {
    display: inline;
    background-color: none;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
/* should not be used as it has no equivalent in LaTeX */
h6 {
    display: none; 
}

dl {
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px gray;    
    border-left: 5px solid gray;
    padding: 1rem;
    background-color: #F9F9F9;
}
dt {
    display: inline;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: bold;
}
dd {
    display: inline;
    padding: 0;
    margin: 0;
}

.license {
    font-size: 8pt;
    margin-top: 2rem;
    padding: .3rem;
    text-align: center;
    border-top: 1px solid black;
}
